:root{
    --bg1:red;
    --bg2:yellow;
    --wid1:70px;
}

@keyframes abc{
    /* 0%{transform: translateY(0deg);} */
    /* 100% {transform: translateY(300deg);} */
     0%{transform: rotate(0deg);}
      100%{transform: rotate(200deg);}
}

td{
    width: var(--wid1);
    background-color: var(--bg1);
    animation:  rotate 3s infinite; 
}

/* table{ */
    /* animation: moveRight 3s alternate-reverse; */
/*  */
    /*  */
/* } */